.Header {
  height: 60px;
  background-color: rgba(#ffffff, .075);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_headline {
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
  }

  &_exit {
    height: 18px;
    width: 18px;
    font-size: 18px;
    padding: 0;
    display: flex;
    color: #ffffff;
    position: relative;
    flex-shrink: 0;

    &:after {
      content: '';
      height: 42px;
      width: 42px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      transition: background-color $t;
    }

    &:hover,
    &:active {
      &:after {
        background-color: rgba(#fff, .1);
      }
    }
  }
}