.Layout {
  font-family: $TTNorms;
  overscroll-behavior: none;
  height: 100dvh;
  overflow: hidden;

  &_inner {
    height: 100dvh;
    overflow: auto;
    padding-bottom: 20px;
  }

  &_wrapper {
    margin-top: 20px;
  }
}