.Edit {
  &_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    word-break: break-word;

    &:not(:first-of-type) {
      margin-top: 15px;
    }
  }

  &_buttons {
    display: flex;
    gap: 0 10px;
    flex-shrink: 0;
  }

  &_input {
    margin-top: 8px;
    margin-bottom: 0;
  }

  &_placeholder {
    transition: color $t;

    &__error {
      color: #ab1c2b;
      transition: color $t;
    }
  }

  &_divider {
    margin: 20px 0 10px 0;
  }

  &_inputGroup {
    margin-top: 5px;
    display: flex;
    gap: 0 4px;

    input::placeholder {
      text-transform: capitalize;
    }

    & > div {
      width: 50% !important;
      margin: 0;
    }
  }

  &_titleGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 12px
  }

  &_buttonGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
  }

  &_table {
    margin-top: 10px;
  }

  &_excerpt {
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
  }

  &_button {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}