.Catalog {
  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 4px;
  }

  &_icon {
    height: 38px;
    width: 38px;
    padding: 4px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 20px;
    cursor: pointer;
    transition: background-color $t;

    &_edit {
      color: #1cab9c;

      &:hover,
      &:active {
        color: #1cab9c;
        background-color: rgba(#1cab9c, .2);
      }
    }

    &_delete {
      color: #ab1c2b;

      &:hover,
      &:active {
        color: #ab1c2b;
        background-color: rgba(#ab1c2b, .2);
      }
    }
  }
}