:root {
  --card-width: 250px;
  --card-height: calc(#{var(--card-width)} / 3 * 4);
  --card-radius: 25px;
}

.Cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_single {
    position: relative;
    user-select: none;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    z-index: 10;
    border-radius: var(--card-radius);
    height: var(--card-height);
    width: var(--card-width);
    filter: drop-shadow(0 0 7px rgba(#000000, .75)); // todo

    &__front,
    &__back {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .5s ease-in-out, opacity .5s ease-in-out;
      color: #ffffff;
      padding: 10px;
      border-radius: var(--card-radius);
      width: var(--card-width);
      height: var(--card-height);
      background-color: #2d2d2d;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      font-family: $NotoLatin, $NotoSC, $NotoTC;
      font-weight: 400;
      flex-direction: column;
      font-size: 32px;
      text-align: center;
      word-break: break-word;
      overflow-wrap: break-word;
      hyphens: auto;

      span {
        color: rgba(#ffffff, .5);
        font-size: 14px;
        display: block;
        margin-top: 5px;
        text-align: center;
      }
    }

    &__front {
      //box-shadow: 0 0 7px rgba(#000000, .75);
      transform: rotateZ(0deg);
    }

    &__back {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotateZ(-180deg);
    }

    &_active &__front {
      transform: rotateZ(180deg);
    }

    &_active &__back {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }

  &_wrapper {
    position: relative;
    height: var(--card-height);
    width: var(--card-width);
  }

  &_deck {
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
    top: 0;
    left: 0;
    z-index: 5;
  }

  &_deck &_single {
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
    top: 0;
    left: 0;
    box-shadow: rgba(#000000, .4) 0 2px 4px, rgba(#000000, .3) 0 7px 13px -3px, rgba(#000000, .2) 0 -3px 0 inset;

    &__front,
    &__back {
      box-shadow: none;
      background-image: url('//s5.vcdn.biz/static/f/3980028271/card-min.jpeg');
    }
  }

  &_shadowContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: var(--card-radius);
    color: transparent;
    z-index: 9;

    &__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 60px;
    }
  }

  &_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 0 20px;

    &__single {
      height: 80px;
      width: 80px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 32px;
      position: relative;

      &:first-child {
        background-color: #ab1c2b;
      }

      &:last-child {
        background-color: #1cab9c;
      }
    }
  }

  &_finished {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
    }
  }
}

html, body {
  overflow: hidden;
}