html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  color: rgba(#ffffff, .85);
  font-size: 14px;
  line-height: 1.5;
  background-color: #000;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
