html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  color: rgba(#ffffff, .85);
  font-size: 14px;
  line-height: 1.5;
  background-color: #000;
}

.wrapper {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;

  $cardWidth: 70vw;
  $cardHeight: calc(70vw / 3 * 4);
  $cardRadius: 25px;

  &-card {
    position: relative;
    user-select: none;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    z-index: 10;
    border-radius: $cardRadius;
    height: $cardHeight;
    width: $cardWidth;
    transition: transform $t;

    &-front,
    &-back {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .5s ease-in-out, opacity .5s ease-in-out;
      color: #ffffff;
      padding: 10px;
      border-radius: $cardRadius;
      width: $cardWidth;
      height: $cardHeight;
      background-color: #2d2d2d;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      font-family: $NotoLatin, $NotoSC, $NotoTC;
      font-weight: 400;
      flex-direction: column;
      font-size: 32px;
      text-align: center;

      span {
        color: rgba(#ffffff, .5);
        font-size: 14px;
        display: block;
        margin-top: 5px;
        text-align: center;
      }
    }

    &-front {
      box-shadow: 0 0 7px rgba(#000000, .75);
      transform: rotateZ(0deg);
    }

    &-back {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotateZ(-180deg);
    }

    &.active &-front {
      transform: rotateZ(180deg);
    }

    &.active &-back {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }

  &-wrapper {
    position: relative;
    height: $cardHeight;
    width: $cardWidth;
  }

  &-deck {
    position: absolute;
    height: $cardHeight;
    width: $cardWidth;
    top: 0;
    left: 0;
    z-index: 5;

    .play-card {
      position: absolute;
      height: $cardHeight;
      width: $cardWidth;
      top: 0;
      left: 0;
      box-shadow: rgba(#000000, .4) 0 2px 4px, rgba(#000000, .3) 0 7px 13px -3px, rgba(#000000, .2) 0 -3px 0 inset;

      &-front,
      &-back {
        box-shadow: none;
        //background: #3b3b3b;
        //background-image: url("//s5.vcdn.biz/static/f/3980028271/card-min.jpeg");
      }
    }
  }

  &-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: $cardRadius;
    color: transparent;
    //transition: background-color $t;
    z-index: 9;

    .anticon-close {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: inherit;
      font-size: 24px;
    }

    .anticon-check {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: inherit;
      font-size: 24px;
    }
  }
}
