@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-Thin.eot');
  src: url('../fonts/TTNorms/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-Thin.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-ExtraLight.eot');
  src: url('../fonts/TTNorms/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-ExtraLight.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-Light.eot');
  src: url('../fonts/TTNorms/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-Light.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-Regular.eot');
  src: url('../fonts/TTNorms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-Regular.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-Medium.eot');
  src: url('../fonts/TTNorms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-Medium.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-Bold.eot');
  src: url('../fonts/TTNorms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-Bold.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-ExtraBold.eot');
  src: url('../fonts/TTNorms/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-ExtraBold.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-Black.eot');
  src: url('../fonts/TTNorms/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-Black.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: $TTNorms;
  src: url('../fonts/TTNorms/TTNorms-Heavy.eot');
  src: url('../fonts/TTNorms/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/TTNorms-Heavy.woff') format('woff'),
  url('../fonts/TTNorms/TTNorms-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: $Icomoon;
  src: url('../fonts/icomoon/icomoon.eot?dshawm');
  src: url('../fonts/icomoon/icomoon.eot?dshawm#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?dshawm') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?dshawm') format('woff'),
  url('../fonts/icomoon/icomoon.svg?dshawm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  &:before {
    font-family: $Icomoon !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-close:before {
  content: "\e900";
}

@font-face {
  font-family: $NotoLatin;
  src: url('//s1.vcdn.biz/static/f/3997795041/NotoSans.ttf') format('truetype'),
       url('//s9.vcdn.biz/static/f/3997795031/NotoSans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $NotoTC;
  src: url('//s5.vcdn.biz/static/f/3997812451/NotoSansTC-Regular-Alphabetic.ttf') format('truetype'),
       url('//s2.vcdn.biz/static/f/3997812601/NotoSansTC-Regular-Alphabetic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $NotoTC;
  src: url('//s2.vcdn.biz/static/f/3997812511/NotoSansTC-Light-Alphabetic.ttf') format('truetype'),
       url('//s7.vcdn.biz/static/f/3997812561/NotoSansTC-Light-Alphabetic.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $NotoTC;
  src: url('//s1.vcdn.biz/static/f/3997812861/NotoSansTC-Medium-Alphabetic.ttf') format('truetype'),
       url('//s7.vcdn.biz/static/f/3997812651/NotoSansTC-Medium-Alphabetic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $NotoTC;
  src: url('//s1.vcdn.biz/static/f/3997812681/NotoSansTC-Bold-Alphabetic.ttf') format('truetype'),
       url('//s4.vcdn.biz/static/f/3997812531/NotoSansTC-Bold-Alphabetic.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $NotoSC;
  src: url('//s4.vcdn.biz/static/f/3997812441/NotoSansSC-Medium-Alphabetic.ttf') format('truetype'),
       url('//s5.vcdn.biz/static/f/3997812541/NotoSansSC-Medium-Alphabetic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $NotoSC;
  src: url('//s9.vcdn.biz/static/f/3997812491/NotoSansSC-Regular-Alphabetic.ttf') format('truetype'),
       url('//s8.vcdn.biz/static/f/3997812481/NotoSansSC-Regular-Alphabetic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $NotoTC;
  src: url('//s1.vcdn.biz/static/f/3997812501/NotoSansTC-Black-Alphabetic.ttf') format('truetype'),
       url('//s6.vcdn.biz/static/f/3997812461/NotoSansTC-Black-Alphabetic.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: $NotoSC;
  src: url('//s4.vcdn.biz/static/f/3997812801/NotoSansSC-Thin-Alphabetic.ttf') format('truetype'),
       url('//s8.vcdn.biz/static/f/3997812931/NotoSansSC-Thin-Alphabetic.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $NotoSC;
  src: url('//s5.vcdn.biz/static/f/3997812631/NotoSansSC-Light-Alphabetic.ttf') format('truetype'),
       url('//s3.vcdn.biz/static/f/3997812611/NotoSansSC-Light-Alphabetic.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $NotoTC;
  src: url('//s8.vcdn.biz/static/f/3997812751/NotoSansTC-Thin-Alphabetic.ttf') format('truetype'),
       url('//s9.vcdn.biz/static/f/3997812581/NotoSansTC-Thin-Alphabetic.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $NotoSC;
  src: url('//s8.vcdn.biz/static/f/3997812571/NotoSansSC-Black-Alphabetic.ttf') format('truetype'),
       url('//s3.vcdn.biz/static/f/3997812431/NotoSansSC-Black-Alphabetic.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: $NotoSC;
  src: url('//s7.vcdn.biz/static/f/3997812471/NotoSansSC-Bold-Alphabetic.ttf') format('truetype'),
       url('//s8.vcdn.biz/static/f/3997812661/NotoSansSC-Bold-Alphabetic.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}