.header {
  height: 50px;
  background-color: rgba(#ffffff, .075);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-headline {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-exit {
    height: 14px;
    width: 14px;
    font-size: 14px;
    padding: 0;
    display: flex;
    color: #ffffff;
    position: relative;
    margin-top: 1px;

    &:after {
      content: '';
      height: 40px;
      width: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.wrapper {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.language {
  font-family: $font;
  padding-bottom: 20px;

  &-wrapper {
    margin-top: 20px;
  }
}

.list {

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-text {
    color: #ffffff;
    font-size: 14px;
    width: calc(100% - 50px);
  }

  &-icons {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-edit,
  &-delete {
    font-size: 18px;
    width: 22px;
    cursor: pointer;
  }

  &-edit {
    color: #1cab9c;

    &-link {
      display: block;
      height: 18px;
    }
  }

  &-delete {
    color: #ab1c2b;
  }
}

.edit {

  &-title {
    font-weight: 500;
    font-size: 16px;

    &:not(:first-of-type) {
      margin-top: 15px;
    }
  }

  &-buttons {
    button:not(:last-of-type) {
      margin-right: 10px !important;
    }
  }

  &-input {
    margin-top: 5px;
    transition: border-color $t;

    &.error {
      border-color: #ab1c2b;
      transition: border-color $t;
    }
  }

  &-placeholder {
    transition: color $t;

    &.error {
      color: #ab1c2b;
      transition: color $t;
    }
  }

  &-divider {
    margin: 20px 0 10px 0;
  }

  &-inputGroup {
    margin-top: 5px;

    input {
      width: 50% !important;
    }
  }

  &-titleGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-buttonGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
  }

  &-table {
    margin-top: 10px;
  }

  &-excerpt {
    font-weight: 500;
    margin-top: 10px;
  }

  &-button {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;

  $cardWidth: 250px;
  $cardHeight: 300px;
  $cardRadius: 25px;

  &-card {
    position: relative;
    user-select: none;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    z-index: 10;
    border-radius: $cardRadius;
    height: $cardHeight;
    width: $cardWidth;
    transition: transform $t;

    &-front,
    &-back {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .5s ease-in-out, opacity .5s ease-in-out;
      color: #ffffff;
      padding: 10px;
      border-radius: $cardRadius;
      width: $cardWidth;
      height: $cardHeight;
      background-color: #2d2d2d;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      font-family: $NotoLatin, $NotoSC, $NotoTC;
      font-weight: 400;
      flex-direction: column;
      font-size: 32px;
      text-align: center;

      span {
        color: rgba(#ffffff, .5);
        font-size: 14px;
        display: block;
        margin-top: 5px;
        text-align: center;
      }
    }

    &-front {
      box-shadow: 0 0 7px rgba(#000000, .75);
      transform: rotateZ(0deg);
    }

    &-back {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotateZ(-180deg);
    }

    &.active &-front {
      transform: rotateZ(180deg);
    }

    &.active &-back {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }

  &-wrapper {
    position: relative;
    height: $cardHeight;
    width: $cardWidth;
  }

  &-deck {
    position: absolute;
    height: $cardHeight;
    width: $cardWidth;
    top: 0;
    left: 0;
    z-index: 5;

    .play-card {
      position: absolute;
      height: $cardHeight;
      width: $cardWidth;
      top: 0;
      left: 0;
      box-shadow: rgba(#000000, .4) 0 2px 4px, rgba(#000000, .3) 0 7px 13px -3px, rgba(#000000, .2) 0 -3px 0 inset;

      &-front,
      &-back {
        box-shadow: none;
        //background: #3b3b3b;
        //background-image: url("//s5.vcdn.biz/static/f/3980028271/card-min.jpeg");
      }
    }
  }

  &-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: $cardRadius;
    color: transparent;
    //transition: background-color $t;
    z-index: 9;

    .anticon-close {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: inherit;
      font-size: 24px;
    }

    .anticon-check {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: inherit;
      font-size: 24px;
    }
  }
}

.ant-table {
  font-size: 12px !important;

  &-wrapper {
    border: 1px solid rgba(#fff, .1);

    .ant-table-tbody tr:last-child td {
      border-bottom: none;
    }
  }

  &-title,
  &-footer,
  &-thead > tr > th,
  &-tbody > tr > td,
  tfoot > tr > th,
  tfoot > tr > td {
    padding: 5px;
  }

  &-thead {
    .ant-table-cell {
      font-weight: 600;
    }
  }

  &-content {
    overflow-x: auto;
  }

  tr {
    td, th {
      &:first-child {
        padding-right: 5px !important;
        padding-left: 10px !important;
      }

      width: 50%;
      min-width: 50%;

      &:not(:last-child) {
        border-right: 1px solid rgba(#fff, .1);
      }

      &:last-child {
        padding-right: 10px !important;
      }
    }
  }

}
