.header {
  height: 50px;
  background-color: rgba(#ffffff, .075);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-headline {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.wrapper {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.language {
  font-family: $font;

  &-wrapper {
    margin-top: 20px;
  }
}

.list {

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-text {
    font-size: 14px;
    width: calc(100% - 50px);
  }

  &-icons {
    width: 50px;
  }

  &-edit,
  &-delete {
    font-size: 16px;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }

  &-edit {
    color: #1cab9c
  }

  &-delete {
    color: #ab1c2b;
  }
}