$t: .3s;
$TTNorms: 'TT Norms';
$Icomoon: 'icomoon';
$NotoLatin: 'NotoSansLatin';
$NotoTC: 'NotoSansTC';
$NotoSC: 'NotoSansSC';

@mixin r($point) {
  @media (max-width: $point + px) {
    @content;
  }
}